<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <p class = 'title-sm text-bold '><%= link_to "Ask Me", root_path %></p>
        <div>
          <% if current_user.present?%>
            <%= "@#{current_user.nicknames}" %>
          <% else %>
            <%= link_to 'Register', new_pupil_path, class: 'button button-yellow mr-sm'%>
            <%= link_to 'Sign in', new_session_path, class: 'button button-yellow'%>
        </div>
      </div>
      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <%= elsif flash[:alert].present? %>
        <p class="mb mt message-alert"><%= flash[:alert] %> </p>
      <% end %>

      <%= flash.inspect %>
      <%= yield %>
    </div>
  </body>
</html>
